<template>
    <div>
        <img class="imagem" v-bind:src="foto" :alt="descricao">
        <trocaFoto @trocar-foto="trocarFoto"/>
        <Segundo/>
        <input type="text">
        <img :src="newFoto" alt="">
        <p>{{ meuNome }}</p>
        <p>{{mensagem}}</p>
        <p>{{nome}}</p>
    </div>
</template>

<script>
import Segundo from "./Segundo.vue"
import trocaFoto from "./mudaFoto.vue"


export default{
    name: "Componente",
    props:{
      meuNome: String,
      newFoto: String
    },
    data(){
        return{
            mensagem: "lauricio lindo",
            nome:"mestre",
            foto: "https://cdn.domestika.org/c_fill,dpr_auto,f_auto,q_auto,w_820/v1610552062/content-items/006/747/360/Black_Knight_Potion-original.gif?1610552062",
            descricao:"foto de tecnologia"
        }
    },
    components:{
      Segundo,
      trocaFoto
    },
    created(){
        setTimeout(() => {
            this.nome = "lau teste"
        },3000)
    },
    methods:{
        trocarFoto(){
           this.foto = "https://i.gifer.com/CPDy.gif"
        }
    }
}


</script>

<style scoped>
.imagem{
    width: 300px;
}

</style>
