<template>
    <form action="" @submit="enviarForm($event)" id="form">
     <h1>formulario</h1>
     <inputText/>
     <inputText/>
     <inputSubmit/>
        
    </form>
    
</template>
<script>
  import inputSubmit from "./form/inputSubmint.vue"
  import inputText from "./form/inputText.vue"

  export default{
      name: "Formulario",
      components:{
          inputSubmit,
          inputText
          
      },
      methods:{
          enviarForm(e){
              e.preventDefault()
              document.getElementById("form").style.backgroundColor = "green"
                 
            }
      }
     
  }

</script>


