<template>
    <div>
        <button @click="ativar">clique aqui!</button>
        <span v-show="ativado">estou ativado!</span>
    </div>

</template>

<script>
export default{
    name: "Reutiliza",
    data(){
        return{
            ativado : false
        }
    },
    methods: {
        ativar(){
            this.ativado = ! this.ativado
        }
    }
}
</script>
