<template>
    <div>
        <h1>ola sou o segundo componente!</h1>
        <li v-if="logado">meu perfil</li>
        <li v-else>criar conta</li>
        
    </div>
</template>
<script>
export default{
    name:"Segundo",
    data(){
        return{
            
        }
    },
    props: ["logado"]
}
</script>
