<template>
  <div>
    <button v-on:click="mudaCor()">mudar cor</button>
    <Reutiliza/>
    <Segundo :logado= "false"/>
    <h1 id="texto">ola mundo</h1>
    
    <componente newFoto = "https://i.pinimg.com/originals/88/0e/8b/880e8b446945c396c36cd2eb563b4b10.gif"/>
    
     <Formulario/>

     <button @click="mostrarEvento(), pararEvento()">mostrar evento</button>
     <h2>{{eventoMsg}}</h2>
    
    <p v-if="teste">estou trabalhando</p>
    <p v-else>nao estou trabalhando</p>
    <ul>
      <li v-for="(tec, index) in tecnologias" v-bind:key="index">{{tec}}</li>
    </ul>
    <ul>
      <li v-for="front in front_end" :key="front.id" >{{ front.lingua }}</li>
    </ul>
  </div>
</template>

<script>
import Componente from "./components/Componente.vue"
import Segundo from "./components/Segundo.vue"
import Formulario from "./components/Formulario.vue"
import Reutiliza from "./components/Reutiliza.vue"

export default {
  name: "App",
  components: {
    Componente,
    Segundo,
    Formulario,
    Reutiliza
    },
    methods:{
      mostrarEvento(){
        this.eventoMsg = "mostrando evento"
      

      },
      pararEvento(){
          setTimeout(() => this.eventoMsg = "evento parado",2000)
        
      },
          enviarForm(e){
             e.preventDefault();
            console.log("formulario enviado")
          },
      
      mudaCor(){
        document.getElementById("texto").style.color = "green"
        
      }
    },
    data(){
      return{
        novoNome: "sharkWhite",
        eventoMsg: "",
        teste: false,
        tecnologias: [
          "php","phyton","java"
        ],
        front_end: [
          {id:1, lingua:"html"},
          {id:2, lingua:"css"},
           {id:3, lingua:"sass"}
        ]
      }
    }
}
</script>


<style scoped>
h1{
  color: rgba(45, 99, 146, 0.561);
}
form{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 200px;
    background-color: rgb(190, 190, 190);
}
</style>



